@page "/customerProcessedOrders/{CustomerId:int}"
@inherits CustomerProcessedOrdersBase


<br />

<SearchItem OnSearchItem="HandleSearch" />

<br />

@if (Orders == null)
{
    Console.WriteLine("Load.....");
}
else if (Orders.Count == 0)
{
    Console.WriteLine("No order information is available at the moment.");
}
else
{
    <hr />

    <h1>All Orders By @Orders[0].Customer.FirstName @Orders[0].Customer.LastName : </h1>

    <hr />

    @foreach (var order in Orders)
    {
        <OrderListOutput Order="order" Products="Products" ShowOrderDetailsButton="false" />

    }

}
<br/>
<a href="@("/orderProcessed")" class="btn btn-outline-info"><span class="oi oi-media-skip-backward" style="font-weight: bold"> Back To Processed Order List</span></a>
